.quality {
    background: var(--accent-color);
    color: rgb(32, 32, 32) !important;
    font-weight: 700 !important;
    padding: 0.3rem 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    height: 2.1rem;
}

.quality span {
    width: 100%;
    height: 5px;
    background: rgb(175, 175, 175);
    position: absolute;
    bottom: 0;
}