.movies {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6rem;
}

.movies__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card__link:hover img,
.card__link:active img,
.card__link:hover .movie__card-image,
.card__link:active .movie__card-image {
    transform: scale(1.05);
    overflow: unset;
}


@media screen and (max-width: 950px) {
    .movies__list {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 700px) {
        .movies__list {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}