.movies {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6rem;
}

.movies__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card__link:hover img,
.card__link:active img,
.card__link:hover .movie__card-image,
.card__link:active .movie__card-image {
    transform: scale(1.05);
    overflow: unset;
}

.search {
    width: 80%;
    display: flex;
    margin-block: 1rem 0;
}

.search form {
    display: flex;
    width: 100%;
}

.search__area {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.search__area input {
    display: flex;
    width: 95%;
    padding: 0.5rem 1rem;
    color: var(--fade-color);
    background: transparent;
    border: 0;
    outline: 0;
    font-family: inherit;
    font-size: 1.2rem;
}

.search__area button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: var(--fade-color);
    font-size: 1.7rem;
    font-weight: 800;
    border: 0;
    outline: 0;
    margin-right: 1rem;
}

@media screen and (max-width: 950px) {
    .movies__list {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 700px) {
        .movies__list {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width: 530px) {
            .movies__list {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}